html, body {
  width:100%;
  height:100%;
  font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
}

#app{
  width:100%;
  height:100%;
}

.font12 {
  font-size: 12px;
}

.font14 {
  font-size: 14px;
}

.c33 {
  color: #333;
}

.c99 {
  color: #999;
}

.nav-wrapper {
  width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  .main-nav {
    width: 960px;
    padding: 5px 0 0 0;
    margin: 0 auto;
    .nav-link {
      color: #333 !important;
      font-size: 17px;
    }
    .nav-item.active {
      .nav-link {
        color: #ea6f5a !important;
      }
    }
  }
  .sign-up, .write-btn {
    float: right !important;
    margin: 8px 25px 0 0;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    border-radius:100px;
    padding-left:15px;
    padding-right:15px;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .6rem;
    padding-left: .4rem;
  }
}

//文章列表
.note-list {
  //文章分类
  .media {
    padding: 15px 0;
  }
  .media:not(:last-child) {
    border-bottom: solid 1px #eee;
  }
  .meta {
    a, span {
      color: #b4b4b4;
      font-size: 12px;
      margin-right: 10px;
      text-decoration: none;
    }
    a:hover {
      color: #787878;
    }
    .jian_iconfont {
      vertical-align: middle;
      font-size: 14px;
    }

    .collection-tag {
      color: #ea6f5a;
      font-size: 12px;
      border: solid 1px #ea6f5a;
      border-radius: 2px;
      padding: 0.1rem .5rem;
    }
  }
}


.sign{
  width:100%;
  min-height:750px;
  height:100%;
  text-align:center;
  background:#f1f1f1;
  .logo{
    position:absolute;
    top:56px;
    left:50px;
    img{
      width:100px;
    }
  }
  .main{
    width: 400px;
    margin: 150px auto 0;
    padding: 50px 50px 30px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    display:inline-block;
  }
  .title{
    margin: 0 auto 50px;
    padding: 10px;
    font-weight: 400;
    color: #969696;
    font-size:18px;
    a{
      padding: 10px;
      color: #969696;
    }
    a:hover{
      border-bottom: 2px solid #ea6f5a;
    }
    .active{
      font-weight: 700;
      color: #ea6f5a;
      border-bottom: 2px solid #ea6f5a;
    }
  }
  form{
    margin-bottom:30px;
  }
  .more-sign{
    margin-bottom:30px;
    a{
      text-decoration: none;
    }
  }
}


footer {
  .link {
    a {
      font-size: 14px;
      color:#969696
    }
  }
  .icp {
    font-size: 12px;
    color: #c8c8c8;
    a {
      color: #c8c8c8;
    }
  }
}
